<h1>{{ project_name }} home</h1>

<ul id="home">
  <li><a href="/{{project_code}}/dashboard/{{ current_user }}">My Dashboard</a></li>
  <li><a href="/{{project_code}}/organize">Organize</a></li>
  <li><a href="/{{project_code}}/progress">Progress</a></li>
  <li>Tags
    <ul>
      {% for milestone in milestones %}
        <li><a href="/{{project_code}}/tag/{{milestone}}">{{milestone}}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% if admin %}<li><button onclick="awty.takeSnapshot()">Take a snapshot now</button></li>{% endif %}
</ul>
